<div class="d-flex flex-column  align-items-center">
  <div>
    <img
      src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
      class="img-fluid"
      alt="Sample image"
    />
  </div>
  <div *ngIf="isLoading" class="text-center">
    <div class="spinner-border" role="status"></div>
  </div>
  <div>
    <form [formGroup]="loginForm" (ngSubmit)="signIn()" *ngIf="!isLoading">
      <!-- Email input -->
      <div *ngIf="!authService.isLoggedIn()">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" />
          <mat-error *ngIf="loginForm.get('email')?.errors?.['required']">
            Email is required
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Password input -->
      <div *ngIf="!authService.isLoggedIn()">
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="text"
            formControlName="password"
            type="password"
          />
          <mat-error *ngIf="loginForm.get('password')?.errors?.['required']">
            Password is required
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-error *ngIf="errors" class="text-center">
          {{ errors }}
        </mat-error>
      </div>
      <div *ngIf="!authService.isLoggedIn()" class="text-center">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!loginForm.valid"
        >
          Login
        </button>
      </div>
    </form>
  </div>
</div>

