<div class="container mt-5">
  <form [formGroup]="ticketForm" (ngSubmit)="onFormSubmit()">
    <!-- Title field -->
    <div class="row justify-content-center">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Title</mat-label>
          <input matInput type="text" formControlName="title" />
          <mat-error *ngIf="ticketForm.get('title')?.errors?.['required']">
            Title is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <!-- Description field -->
    <div class="row justify-content-center">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description"></textarea>
          <mat-error
            *ngIf="ticketForm.get('description')?.errors?.['required']"
          >
            Description is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <!-- Buttons -->
    <div class="row justify-content-center mt-2">
      <div class="col-md-6">
        <div class="d-flex justify-content-center gx-2">
          <button mat-raised-button type="button" routerLink="/tickets">
            Cancel
          </button>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!ticketForm.valid"
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
